.wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/633621.jpg);
    background-size: cover;
    background-position: center;
}   

body {
    margin: 0px;
    padding: 0px;

    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bottom_bar{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}

h1,h3 {
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: grey;
}

.bottom_bar .left, .right{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.bottom_bar .right {
    width: 30%;
}

.bottom_bar .left {
    width: 70%;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.discord{
    background-color: #7489d1;
    border-radius: 36px;
    font-size: larger;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
}

a.discord:hover{
    color: white;
    box-shadow: 0px 5px 10px 2px black;
}